.banner-img {
  width: 100%;
  max-width: 100%;
  height: auto;
  max-height: 40vh;
  object-fit: cover;
  display: block;
  margin: 0 auto;
}

@media (min-width: 600px) {
  .banner-img {
    max-height: 60vh;
  }
}

.banner-wrapper {
  margin-top: 64px;
}

@media (max-width: 600px) {
  .banner-wrapper {
    margin-top: 56px;
  }
}
